.footer{
    padding: 15px 0 10px 0;
    width: 100%;
    z-index: 99;
    background: rgb(54, 54, 54);
}
.footer .footerContent{
    padding: 0 20px;
}
.footer .footerContent h6,h4{
    color:aliceblue;
    padding: 0 10px;
}